
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
div.Banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Images/Banner.jpg);
    background-size: cover;
    background-position: center;
}

div.NavBar {
    display: flex;   
    justify-content: center;
    padding: 50px 0;
}

div.MainTitleDiv {
    display: flex;
    justify-content: center;
    padding: 35px 0;
}

div.MainTitleDiv img {
    width: 20%;
}
main div.ButtonDiv { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
    
}

main div.ButtonDiv div.RPS_Div button {
    background-color: transparent
}

main div.ButtonDiv div.RPS_Div button img {
    width: 30vh
}

main div.ButtonDiv div.RPS_Div button.Scissors img {
    height: 30vh;  
}






