@import url(https://db.onlinewebfonts.com/c/77945899c252e464f0cdbf212e50f3ae?family=HelvetiHand);

@font-face {
    font-family: "HelvetiHand";
    src: url("https://db.onlinewebfonts.com/t/77945899c252e464f0cdbf212e50f3ae.eot");
    src: url("https://db.onlinewebfonts.com/t/77945899c252e464f0cdbf212e50f3ae.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/77945899c252e464f0cdbf212e50f3ae.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/77945899c252e464f0cdbf212e50f3ae.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/77945899c252e464f0cdbf212e50f3ae.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/77945899c252e464f0cdbf212e50f3ae.svg#HelvetiHand")format("svg");
}

* {
    font-family: "HelvetiHand";
    margin: 0;
    padding: 0; 

}
div.Result {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Images/Banner.jpg);
    background-size: cover;
    background-position: center;
}

div h1 {
    display: flex;
    justify-content: center;
    align-items: center;    
}
div h1.FinalContent {
    color: white;
    font-size: 10vh;
    padding : 35vh 0;
}