
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif,"HelvetiHand";
}

@import url(https://db.onlinewebfonts.com/c/77945899c252e464f0cdbf212e50f3ae?family=HelvetiHand);

@font-face {
    font-family: "HelvetiHand";
    src: url("https://db.onlinewebfonts.com/t/77945899c252e464f0cdbf212e50f3ae.eot");
    src: url("https://db.onlinewebfonts.com/t/77945899c252e464f0cdbf212e50f3ae.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/77945899c252e464f0cdbf212e50f3ae.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/77945899c252e464f0cdbf212e50f3ae.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/77945899c252e464f0cdbf212e50f3ae.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/77945899c252e464f0cdbf212e50f3ae.svg#HelvetiHand")format("svg");
}

div.Banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Images/Banner.jpg);
    background-size: cover;
    background-position: center;
}

div.NavBar {
    display: flex;   
    justify-content: center;
    padding: 50px 0;
}

div.MainTitleDiv {
    display: flex;
    justify-content: center;
    padding: 35px 0;
}

div.MainTitleDiv img {
    width: 20%;
}
main div.ButtonDiv { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
    
}

main div.ButtonDiv div.RPS_Div button {
    background-color: transparent
}

main div.ButtonDiv div.RPS_Div button img {
    width: 30vh
}

main div.ButtonDiv div.RPS_Div button.Scissors img {
    height: 30vh;  
}

main div.ResultDiv h2 {
    color: white;
    font-family: "HelvetiHand";
    display: flex;
    justify-content: center;
}





